$red_color: #ee3a43;
input[type='submit'],
button[type='submit'],
input[type='button'] {
	padding: 0.5em 1em;
	border: none;
	color: #fff;
	cursor: pointer;
	transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
	-moz-transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
	-webkit-transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
	-o-transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
	width: auto;
	font-size: 12px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
} //input[type=submit], button[type=submit], input[type="button"]

.vc_btn3-container {
	margin: 0;

	&:not(:last-child) {
		.vc_general.vc_btn3 {
			margin-bottom: 15px;
		}
	}

	+ .vc_btn3-container {
		@media (min-width: 1024px) {
			margin-left: 1em;
		} //media
	}

	&.vc_btn3-inline {
		@media (max-width: 768px) {
			display: block;
		} //media
	}

	.vc_general.vc_btn3 {
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		padding: 1em;
		font-size: 15px;
		line-height: 1em;
		color: #fff;
		background: $color_blue;
		border: 2px solid $color_blue;
		font-weight: 800;
		text-decoration: none;
		margin: auto;
		max-width: 320px;
		width: 90%;
		text-align: center;

		@media (min-width: 768px) {
			padding: 1.23em 3.5em;
			width: 100%;
		} //media

		&:hover {
			background-color: $light_blue;
			color: #fff;
			border: 2px solid transparent;
			box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
		}

		// Taken from https://codepen.io/deineko/pen/jrmmoQ
		&.regular-animate {
			background: $color_blue;
			color: #fff;
			border-color: $color_blue;
			&:hover:before,
			&:hover:after {
				border-color: $color_blue;
			}
		}

		&.regular-animate,
		&.regular-animate:before,
		&.regular-animate:after {
			border-color: $color_blue;
		}

		&.regular-animate:hover,
		&.regular-flip:hover {
			color: #fff;
			background-color: $color_blue;
			border-color: $color_blue;
		}

		&.regular-flip {
			background: $color_blue;
			color: #fff;
			border-color: $color_blue;
			&:before,
			&:after {
				border-color: $color_blue;
			}
			&:hover:before,
			&:hover:after {
				width: calc(100% + 12px);
				height: calc(100% + 12px);
				border-color: $color_blue;
				transform: rotateY(180deg);
			}
		}

		&.secondary-animate {
			background: #fff;
			color: $color_blue;
			border-color: $color_blue;
			&:hover:before,
			&:hover:after {
				border-color: $color_blue;
			}
		}

		&.secondary-animate,
		&.secondary-animate:before,
		&.secondary-animate:after {
			border-color: $color_blue;
		}
		&.secondary-animate:hover {
			color: #fff;
			background-color: $color_blue;
			border-color: $color_blue;
		}
		&.secondary-flip {
			background: #fff;
			color: $color_blue;
			border-color: $color_blue;
			&:before,
			&:after {
				border-color: $color_blue;
			}
			&:hover {
				background-color: $color_blue;
				color: #fff;
			}
			&:hover:before,
			&:hover:after {
				width: calc(100% + 12px);
				height: calc(100% + 12px);
				border-color: $color_blue;
				transform: rotateY(180deg);
			}
		}
		&.white-animate,
		&.white-animate:before,
		&.white-animate:after {
			border-color: #fff;
		}
		&.white-animate:hover {
			color: $base_color;
			background-color: #fff;
			border-color: #fff;
		}

		&.regular-animate,
		&.secondary-animate,
		&.white-animate,
		&.regular-flip,
		&.secondary-flip {
			border-width: 2px;
			border-style: solid;
			position: relative;
			margin: 12px;
			display: inline-block;
			padding: 0.5em 1em;
			transition: all 0.3s ease-in-out;
			text-align: center;
			font-weight: bold;
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				box-sizing: border-box;
				border-style: solid;
				width: 1em;
				height: 1em;
				transition: all 0.3s ease-in-out;
			} //:before, :after
			&:before {
				top: -6px;
				left: -6px;
				border-width: 2px 0 0 2px;
				z-index: 5;
			} //:before
			&:after {
				bottom: -6px;
				right: -6px;
				border-width: 0 2px 2px 0;
			} //:after
			&:hover:before,
			&:hover:after {
				width: calc(100% + 12px);
				height: calc(100% + 12px);
			}
		} //animate

		&.secondary {
			background: transparent;
			color: $color_blue;
			border: 2px solid $color_blue;
			&:hover {
				background: $light_blue;
				border-color: $light_blue;
				color: #fff;
			}
		}

		&.white {
			background: #fff;
			color: $color_blue;
			border: 1px solid #fff;
			&:hover {
				background: $color_blue;
				border: 1px solid $color_blue;
				color: #fff;
			}
		}

		&.dark {
			background: #24282f;
			color: #fff;
			border: 1px solid #24282f;
			&:hover {
				background: rgba(36, 40, 47, 0.7);
				border: 1px solid rgba(36, 40, 47, 0.7);
			}
		}

		&.has-icon,
		&.tilt.has-icon {
			padding-left: 42px;
			padding-right: 42px;

			i {
				background-color: transparent;
				font-size: 18px;
				line-height: 18px;
				width: 18px;
				position: absolute;
				top: 50%;
				right: 30px;
				margin-top: -9px;
				opacity: 0;
				-ms-filter: 'alpha(opacity=0)';
				transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
				-webkit-transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
				color: rgb(255, 255, 255);
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				-webkit-font-smoothing: antialiased;

				.fa {
					font-size: 19px;
				} //.fa
			} //i

			&:hover {
				opacity: 0.87;
				color: #fff;

				span {
					-ms-transform: translateX(-18px);
					-webkit-transform: translateX(-18px);
					transform: translateX(-18px);
				} //span

				i {
					opacity: 1 !important;
					-ms-transform: translateX(6px);
					-webkit-transform: translateX(6px);
					transform: translateX(6px) !important;
				} //i
			} //:hover
		} //.has-icon, .tilt.has-icon
	} //.blackhawk-button
	&.red-bg-button{
		.vc_general.vc_btn3{
			background: $red_color;
			border: 2px solid $red_color;
		}
	}
} //.vc_btn3-container

.wpb_wrapper .blackhawk-button:nth-child(n + 2) {
	margin-left: 15px;
}

.vc_btn3-container .vc_general.vc_btn3.vc_btn3-icon-right {
	padding-right: 50px;
}
.vc_btn3-container .vc_general.vc_btn3.vc_btn3-icon-left {
	padding-left: 50px;
}
.vc_btn3-container .vc_btn3.vc_btn3-icon-left .vc_btn3-icon {
	left: 20px;
} //.vc_btn3.vc_btn3-icon-left .vc_btn3-icon

.vc_btn3-container .vc_btn3.vc_btn3-icon-right .vc_btn3-icon {
	right: 20px;
} //.vc_btn3.vc_btn3-icon-right .vc_btn3-icon

.center-btn {
	display: flex;
	justify-content: center;
	.request-button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 20px 15px;
		max-width: 253px;
		height: 65px;
		background: #EA0029;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
		text-align: center;
		text-transform: uppercase;
		@media (max-width:425px) {
			padding: 16px 24px;
			width: 219px;
			height: 57px;
			font-size: 15px;
			line-height: 25px;
		}
		}
	.request-button:hover {
			background: #F23858;
			color: #fff;
		}	
}

.left-btn {
	.request-button {
		padding: 20px 24px;
		min-width: 284px;
		height: 65px;
		background: #EA0029;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
		text-align: center;
		text-transform: uppercase;
		@media (max-width:425px) {
			padding: 16px 24px;
			width: 219px;
			height: 57px;
			font-size: 15px;
			line-height: 25px;
		}
		}
	.request-button:hover {
			background: #F23858;
			color: #fff;
		}	
}